:root {
    --primary-color: #134c31;
    --primary-color-font: #e2e2e2;
    --secondary-color: #121a0f;
    --secondary-color-font: #d9dae6;
    --link-color: #12fa48;
    --tertiary-color: #0a5c01;
}